<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <style>
        body{
            text-align: center;
            margin: right;
            margin: 200px;

        }
        p{
            margin-left: 480px;
            margin-right: auto;
            text-align: left;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }



    </style>
    
</head>
<body>
    <h1>RESULTADO FINAL DA VOTAÇÃO</h1> 
    <p>Candidato Maria: <span>{{Maria}}</span></p>
    <p>Candidato Ana Julia: <span>{{AnaJulia}}</span></p>
    <p>Candidato João: <span>{{Joao}}</span></p>
    
    
</body>
</html>